/* Local style sheet with sticky footer */
html {
    position: relative;
    min-height: 100%;
}
  body {
      /* Added some margin, so body doesn't appear under header/footer */
    margin: 20px auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("../images/rockywall.png") repeat 0 0;
    top: 0;
    left: 0;
}

.navbar {
    border-bottom: 4px solid #ccc;
    background-color: #fff;
    font-size: 12pt;
}

.navbar-default .navbar-brand,.navbar-default:hover .navbar-brand:hover {
    color: #fff;
    background-color: #4aaaa5;
    font-size: 32px;
}

h1 {
    border-bottom: 4px solid #ccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    color: #4aaaa5;
    width: 80%vw;
}

.navbar-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: #4aaaa5;
    color: #fff;
}

.main {
    padding: 20px;
    background-color: #fff;
    margin: 80px auto 80px auto;
}


.page-header, .lead {
    background-color: #fff;
    padding: 20px -20px 20px -20px;
    margin-bottom: 0;
    border-bottom: 0;
}
p {
    color: #ccc;
    font-size 14pt;
}

 footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #666;
    border-top: 8px solid #4aaaa5;
  }

  /* Images */
#pf, #pf-last {
    height: 200px;
    width: 126px;
	float: left;
	box-shadow: 5px 5px 10px #ccc;
	margin: auto 20px 20px auto;
}

#pf-last {
    margin: auto auto 20px auto;
}

  .selfie {
    content:url("../images/selfie.jpg");
}
.pf1 {
    content:url("../images/pf1.jpeg");
}
.pf2 {
    content:url("../images/pf2.jpeg");
}
.pf3 {
    content:url("../images/pf3.jpeg");
}
.pf4 {
    content:url("../images/pf4.jpeg");
}
.pf5 {
    content:url("../images/pf5.jpg");
}

/* The Contact Form */

/* This is for the form labels. */
td {
    text-align: right;
}

.contact-form {
	width:75%;
}

/* Contact Form */
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
    resize: vertical;
}

/* Submit Button */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
	cursor: pointer;
	box-shadow: 2px 2px 4px #2d2b00;
	transition: box-shadow linear 0.3s;
}

/* When moving the mouse over the submit button, reduce drop shaddow */
input[type=submit]:hover {
	box-shadow: 1px 1px 2px #2d2b00;
}